/* Charlyn Woodruff ~ CIT 205 Web Dev Tools ~ Module 5 Exercise Bootstrap  */

html{
    background-image: url(images/teal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#website {
    font-family: 'Birthstone Bounce', Georgia, 'Times New Roman', Times, serif;
    font-size: 6em;
    color: #3fb7f8;
    text-shadow:rgb(98, 98, 101) 0em 0.1em 0.1em; 
    text-align: left;
}
#topbar {
    width:auto;
    height: 20px;
    padding: 10px 5px 5px 2px;
    font: 0.8em verdana;
    font-weight: bold;
    color: #3fb7f8;
    text-align: right;
}
.userform {
    width: auto;
    padding: 5px 0px 5px 3px;
    background: #fbfbfb;
    border:1px solid #efefef;
    border-top: none;
    text-align: justify;
    margin-bottom: 1px;
    margin-top: 12px;
}
h3{
    color: #3fb7f8;
    text-indent: 8px;
}
h6{
    text-indent: 10px;
}
.articleboxouter {
    width: auto;
    padding: 0px 6px 20px 3px;
    float: right;
} 

main{
    text-indent: 10px;
    background-color: #ebf2f2;
}
p{
    text-indent: 10px;
}
form{

    border: #3fb7f8 solid 4px;
    border-radius: 15px;
}
img{
    border: #3fb7f8 solid 4px;
    border-radius: 15px;
}
.carousel {
    width:300px;
    height:400px;
    margin-left: auto;
    margin-bottom: auto;
  }
.subscribeh2{
    color: #3fb7f8;
    text-indent: 12px;
}
footer>p{
    font-weight: 500;
}